<nav class="flex space-x-6 text-gray-400 font-medium">
    <a href="{{ path('page_series') }}" class="{{ app.request.attributes.get('_route') == 'page_series' ? 'text-gray-700 font-semibold' : 'hover:text-gray-700' }}">Séries</a>
    <a href="{{ path('page_movie') }}" class="{{ app.request.attributes.get('_route') == 'page_movie' ? 'text-gray-700 font-semibold' : 'hover:text-gray-700' }}">Films</a>
</nav>
